
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <input type="text" name="Name" placeholder="Enter Name" class="form-control" />
    <br />
    <input type="date" name="Dob" placeholder="Enter Dob" class="form-control" />
    <br />
    <input type="text" name="Cgpa" placeholder="Enter Cgpa"  class="form-control"/>
    <br />
    <input type="submit" name="Submit" value="Submit" class="btn btn-success"/>
</form>

