
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_newLayout</title>
</head>
<body>
    <div>
        This is the header
    </div>
    <div>
        @RenderBody()
    </div>
    <div>This is the footer</div>
</body>
</html>
